*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-color: aqua;
    padding-top: 1px;
}

a{
    text-decoration: none;
    color:blue;
}

h1,u,.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    
    & figcaption{
        text-align: center;
    }
}

footer{
    background-color: aqua;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
