*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Times New Roman, sans-serif;
}

header,
footer,
.hero-section{
    background-color: #1F2937;
    color: white;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3vh 0 3vh 0;

    & a{
        text-decoration: none;
        font-size: 18px;
        color: #E5E7EB;
    }

    & .logo{
        font-size: 24px;
        color: #f9faf8;
    }
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 10vw 15vh 10vw;

    & .hero{
        width: 50%;

        & h1{
            font-size: 48px;
            color: #f9faf8;
            font-weight: 900;
        }

        & p{
            font-size: 18px;
            color: #E5E7EB;
        }

        & button{
            width: 100px;
            padding: 5px 0 5px 0;
            background-color: #3882f6;
            color: #E5E7EB;
            font-size: 18px;
            font-weight:700;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    & .hero-img{
        background-color: grey;
        color: white;
        width: 50%;
        height: 40vh;

        & p{
            padding: 20%;
            text-align: center;
        }
    }
}

.info-section{
    padding: 10vh 10vw 10vh 10vw;

    &>p{
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
        text-align: center;
    }

    & .info-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & .info-col{
            width: 150px;
            margin: 2vh 1.5vw 2vh 1.5vw;

            & .info-box{
            width: 150px;
            height: 160px;
            margin: 0 0 1vh 0;
            border: 5px, solid, #3882f6;
            border-radius: 20px;
            }

            & p{
                font-size: 18px;
                color: grey;
                text-align: center;
            }
        }
    }
}

.quote-section{
    background-color: #E5E7EB;
    padding: 15vh 20vw 15vh 20vw;

    & blockquote{
        font-size: 36px;
        color: #1F2937;
        font-weight: 300;
        font-style: italic;
    }

    & p{
        font-size: 24px;
        font-weight: 500;
        text-align: right;
    }
}

.call-section{
    padding: 15vh 15vw 15vh 15vw;

    & .call-row{
        background-color: #3882f6;
        color: white;
        padding: 7vh 7vw 7vh 7vw;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & h3{
            font-size: 22px;
        }

        & p{
            font-size: 18px;
            color: #E5E7EB;
        }

        & button{
            width: 100px;
            padding: 3px 0 3px 0;
            background-color: transparent;
            color: #E5E7EB;
            font-size: 18px;
            font-weight:700;
            border: 2px, solid, #E5E7EB;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & p{
        color: #E5E7EB;
    }
}